1. **What are data structures, and why are they important?**

- Data structure are the way of storing and arranging data so and such that it can be accesed and manipulated  efficiently

 2. **Explain the difference between mutable and immutable data types with examples.**

- mutable datatypes can be changed after creation eg. list, set, dict

example: list1 = [1,2,3,4] list1[0]=6
  ,the zeroth index will be replaced by 6

immutable datatypes cannot be changed after creation eg. tuple,string
example: tuple1 = (1,2,3,4)
         tuple1[0]=6, it will throw an error

3. **What are the main differences between lists and tuples in Python?**

- Lists: Mutable, the data once entered can me changed, As well as extended and concatination of two list can be done.it is slower and uses more memory. it is ideal for dynamic data  

- Tuples: Immutable, the data once stored cannot be changed. We can combine the tuples. It is faster and uses less memory. it is good for fixed data

4.  **Describe how dictionaries store data?**

- Dictionaries store data in form of (key:value) pair, where key represent the index in which the value is stored
for eg; d = {name:"Aditya" gmail;"joshiadi@gmail.com"}

where name and gmail are key and "Aditya" , "joshiadi@gmail.com" are values stored in repective keys.

5. **Why might you use a set instead of a list in Python?**

- Sets are unordered collections of unique elements. Use cases:

To eliminate duplicates automatically.
s = {1, 2, 2, 3}  # Result: {1, 2, 3}

For faster membership testing (in operator) compared to lists.
Example: Checking if an element exists is O(1) in sets vs. O(n) in lists.

6. **What is a string in Python, and how is it different from a list?**

- A string is sequence of characters used to represnt textual data,they are immutable, while a list is a mutable sequence of elements (which can be of different data types).
s = "hello"
s[0] = "H" # it will throw an error

l = ["h", "e", "l", "l", "o"]
l[0] = "H" # works(list are mutable)

7. **How do tuples ensure data integrity in Python?**

- Tuples are ordered collection of elements and are immutable once assigned cannot be changed. This ensures the data remains consistent and prevents changes

8. **What is a hash table, and how does it relate to dictionaries in Python?**

- A hash table is a data structure that maps keys to values using a hash function.

- A dictionary stores key-value pairs, where keys are hashed using Python built-in hash function to determine their storage location

Example:

d = {"name": "Aditya", "age": 25}


The key "name" is hashed to find its storage index.
The value "Aditya" is stored at that index.

9. **Can lists contain different data types in Python?**

- Yes, lists in Python can store elements of varying data types, including other lists or complex objects.
Example:

l = [1, "hello", 3.14, [4, 5]]

10. **Explain why strings are immutable in Python?**

- Immutable strings allow reuse in memory
Example

s1 = "hello"

s2 = "hello"
>Both s1 and s2 point to the same memory location

11. **What advantages do dictionaries offer over lists for certain tasks?**

- Fast access to values by unique keys.
Example:

d = {"name": "Aditya", "age": 21}

print(my_dict["name"])  # Output: "Aditya"

12. **Describe a scenario where using a tuple would be preferable over a list**

- Tuples are better for fixed or constant data where immutability is desired, such as GPS coordinates (40.7128, -74.0060) or dates.

13. **How do sets handle duplicate values in Python?**

- Sets automatically remove duplicate values when they are added.
Example:


s = {1, 2, 2, 3}

print(my_set)    # Output: {1, 2, 3}

14. **How does the “in” keyword work differently for lists and dictionaries?**
- Lists: Checks for existence of a value

print(3 in [1, 2, 3])  # Output: True

- Dictionaries: Checks for existence of a key

print("name" in {"name": "aditya"})  # Output: True

15. **Can you modify the elements of a tuple? Explain why or why not**

- No, since tuples are immutable. we cannot add, remove, or modify elements after creation. This immutability ensures data consistency

16. **What is a nested dictionary, and give an example of its use case?**

- A nested dictionary is a dictionary within another dictionary
Example:

company = {
    "HR": {"Manager": "aman", "Employees": 10},
    "IT": {"Manager": "soham", "Employees": 20},
}

Use case: Representing departments in a company.

17.  **Describe the time complexity of accessing elements in a dictionary**

- The average time complexity is O(1) for lookups, thanks to hash tables. In the worst case (e.g., hash collisions), it can degrade to O(n)

18.** In what situations are lists preferred over dictionaries?**

- **When Order Matters**

Lists maintain the order of elements, allowing for sequential access and operations.

Use Case: Tracking a sequence of events, like timestamps or steps in a process.

l = ["Step1", "Step2", "Step3"]

 - **When Duplicates Are Allowed**

Lists allow duplicate values, while dictionaries do not allow duplicate keys.

Use Case: Recording votes, where multiple votes for the same option are valid.

votes = ["A", "B", "A", "C"]

- **When Key-Value Pairing Isn’t Needed**

If the data does not require an association between keys and values, lists are simpler and more straightforward.

Use Case: Storing a group of items like student names.

students = ["John", "Alice", "Bob"]

19. **Why are dictionaries considered unordered, and how does that affect data retrieval?**

- Dictionaries used to be unordered, but since Python 3.7, they maintain insertion order. However, retrieval is still based on keys, not order.

20. **Explain the difference between a list and a dictionary in terms of data retrieval.**

- List: Access elements by index
Example:

l = [10, 20, 30]

print(l[1])  # Output: 20

- Dictionary: Access elements by unique keys
Example:

d = {"a": 10, "b": 20}

print(d["b"])  # Output: 20

# **Practical Questions**

In [ ]:
#1. Write a code to create a string with your name and print it

A = "Aditya"
print(A)

Aditya

In [ ]:
# Write a code to find the length of the string "Hello World"
W= "Hello World"
len(W)

11

In [ ]:
from os import remove
# Write a code to slice the first 3 characters from the string "Python Programming"
S="Python Programming"
remove = S[3:]
print(remove)

hon Programming

In [ ]:
# Write a code to convert the string "hello" to uppercase
s="hello"
uppercase= s.upper()
print(uppercase)

HELLO

In [ ]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
a="I like apple"
b=a.replace("apple","orange")
print(b)

I like orange

In [ ]:
#6 Write a code to create a list with numbers 1 to 5 and print it
l=[1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [ ]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
l=[1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [ ]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
l=[1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [ ]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l= ['a', 'b', 'c', 'd']
print(l[1])

b

In [ ]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
l= [10, 20, 30, 40, 50]
l.reverse()
print(l)

[50, 40, 30, 20, 10]

In [ ]:
#Write a code to create a tuple with the elements 10, 20, 30 and print it
t = (10, 20, 30)
print(t)

(10, 20, 30)

In [ ]:
# Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')\
t=('apple', 'banana', 'cherry')
print(t[0])

apple

In [ ]:
# Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
t=(1, 2, 3, 2, 4, 2)
t.count(2)

3

In [ ]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t=('dog', 'cat', 'rabbit')
t.index('cat')

1

In [ ]:
# Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
t=('apple', 'orange', 'banana')
'banana' in t

True

In [ ]:
# Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
s={1, 2, 3, 4, 5}
print(s)

{1, 2, 3, 4, 5}

In [ ]:
# Write a code to add the element 6 to the set {1, 2, 3, 4}.
s={1, 2, 3, 4}
s.add(6)
print(s)

{1, 2, 3, 4, 6}

In [ ]:
# Write a code to create a tuple with the elements 10, 20, 30 and print it.
t=(10, 20, 30)
print(t)

(10, 20, 30)

In [ ]:
#  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
t=('apple', 'banana', 'cherry')
print(t[0])

apple

In [ ]:
#Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
t=(1, 2, 3, 2, 4, 2)
t.count(2)

3

In [ ]:
 #Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t = ('dog', 'cat', 'rabbit')
t.index('cat')

1

In [ ]:
# Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
t=('apple', 'orange', 'banana')
'banana' in t

True

In [ ]:
#Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
s={1, 2, 3, 4, 5}
print(s)

{1, 2, 3, 4, 5}

In [ ]:
# Write a code to add the element 6 to the set {1, 2, 3, 4}.
s={1, 2, 3, 4}
s.add(6)
print(s)

{1, 2, 3, 4, 6}